<div class="navigationBar">
	<div style="width: 100%; background-color: white;height: 3rem;margin-top: 4rem;">
		<md-button class="md-raised md-primary" style="display: inline-block;height: 100%;margin: auto; margin-left: 3rem;width: 10rem">Acasă</md-button>
		<md-button class="md-raised md-primary" style="display: inline-block;height: 100%;margin: auto; margin-left: 3rem;width: 10rem">Portofoliu</md-button>
		<span flex></span>
		<md-button class="md-raised md-primary" style="display: inline-block;height: 100%;margin: auto; float:right;width: 10rem;margin-right: 3rem">Contact</md-button>
		<md-button class="md-raised md-primary" style="display: inline-block;height: 100%;margin: auto; float:right;width: 10rem;margin-right: 3rem">Servicii</md-button>
	</div>
	<img src="public/img/logo.png" id="logo">
</div>